extends layout

block content
  h2 Édition de l'utilisateur #{user.firstname} #{user.lastname}
  div(id="message-container")
  form(id="edit-user-form", action=`/administration/edit/${user.member_id}`, method="POST", enctype="multipart/form-data" data-member-id=user.member_id)
    label(for="firstname") Prénom:
    input(type="text", id="firstname", name="firstname", value=user.firstname, required, class="form-input")
    br

    label(for="lastname") Nom de famille:
    input(type="text", id="lastname", name="lastname", value=user.lastname, required, class="form-input")
    br

    label(for="email") Email:
    input(type="email", id="email", name="email", value=user.email, required, class="form-input")
    br

    label(for="description") Description:
    textarea(id="description", name="description", rows="4", cols="50", class="form-textarea")= user.description
    br

    label(for="password") Nouveau mot de passe:
    input(type="password", id="password", name="password", class="form-input")
    br

    button(type="submit", class="form-submit-button") Enregistrer les modifications

  #user_statuses_div 
  h2 Publication de #{user.firstname}
  ol.user_statuses
    each user_status in userStatuses
      li.clearfix(data-id=`${user_status._id}`)
        img(src=`${user_status.profile_pic}`)
        strong.poster_name #{user_status.firstname}
        p #{user_status.user_status}
        if user_status.user_email === user_email || user_role === 'admin'
          button.delete_status_button(type="button") X
        ul.comments-list
          each comment in user_status.comments
            li(data-comment-id=`${comment._id}`)
              img(src=`${comment.profile_pic}`, alt="Avatar de l'utilisateur") 
              strong #{comment.firstname} : 
              span #{comment.comment_text}
              if comment.user_email === user_email || user_role === 'admin'
                button.delete_comment_button(type="button") X

        form.comment_form(data-id=user_status._id)
          textarea(name="comment_text" rows="2" cols="30" placeholder="Ajouter un commentaire")
          button(type="submit") Commenter

  script(src="/js/admin-edit-script.js" data-page="true")
  script(src="/js/home-script.js" data-page="true")
  script.
    window.user_role = "#{user_role}";
    window.user_email = "#{user_email}";
