include partials/header

body
  include partials/logout

  h1 Home
  h2 Bienvenue sur BookEnd #{firstname}
  h2#community_header BookEnd Trends
  #community_statuses_div
    ol.user_statuses
      each user_status in user_statuses
        li.clearfix(data-id=`${user_status._id}`)
          img(src=`${user_status.profile_pic}`)
          strong.poster_name #{user_status.firstname}
          p #{user_status.user_status}
          if user_status.user_email === user_email
            button.delete_status_button(type="button") Supprimer
          form(action=`/user_status/${user_status._id}/comment`, method="POST")
              textarea(name="comment_text", rows="2" cols="30") 
              button(type="submit") Commenter
          each comment in user_status.comments
            p(data-comment-id=`${comment._id}`)
              strong #{comment.firstname} :
              | #{comment.comment_text}
              if comment.user_email === user_email
                button.delete_comment_button(type="button") Supprimer
    textarea#statuses_textarea(rows="4" cols="50")
    br
    button#submit_status_button(type="submit") Poster

script(src="/js/home-script.js")
  