include partials/header

body
  include partials/logout
  h1#profile_header Résultats de la recherche
    h2 Résultats pour "#{searchQuery}"
    
  .container
    each user in users
      .potential_friends
        .friends_profile_pic
          img(src=user.profile_pic, width='100', height='100')
        h3 #{user.firstname} #{user.lastname}
        - const isRequestSent = sentFriendRequests.includes(user.member_id);
        - const isFriend = friends.includes(user.member_id);
        button(type="button", id=`${user.member_id}`, class="request_button", disabled=isRequestSent || isFriend)
          if isFriend
            | Déjà ami
          else if isRequestSent
            | Demande envoyée
          else
            | Envoyer une invitation

  script(src="/js/friends-script.js")
