extends layout

block content
  div#user_profile_visit_div
    .main-container
      .left-section
        #user_friends_list_section
          h2 Amis avec #{firstname}
          each friend in user_friends
            li
              div.user_friend_list(id=`${friend.member_id}`)
                img(src=friend.profile_pic)
                span #{friend.friend_firstname} #{friend.friend_lastname}

      .center-section
        #user_profile_div
          .profile_info#profile_picture_div
            img(src=profile_pic width='200')
            h2 Nom: #{firstname} #{lastname}
            h3 Pseudonyme: #{pseudonym}
            h4 Age: #{age}

          if isFriend || isAdmin
            .profile_info#about_me
              h3 À Propos :
              p #{description}

            .profile_info#interests
              h3 Préférences Littéraires :
              p #{literary_preferences}

            #user_statuses_div
            h2 Publication de #{firstname}
            ol.user_statuses.user_statuses_profile
              each user_status in userStatuses
                li.clearfix(data-id=`${user_status._id}`)
                  .post
                    .header
                      img(src=`${user_status.profile_pic}`)
                      strong.poster_name #{user_status.firstname}
                    p
                      | <strong>Titre:</strong> #{user_status.book_title}
                    p
                      | <strong>Auteur:</strong> #{user_status.book_author}
                    p
                      | <strong>Date de parution:</strong> #{user_status.publication_date_formatted}
                    p
                      | <strong>Note Moyenne:</strong> #{user_status.rating}
                    p
                      | <strong>Ma note:</strong> #{user_status.initial_rating}
                    p 
                      | <strong>Résumé:</strong> #{user_status.book_summary}
                    p 
                      | <strong>Mon avis:</strong> #{user_status.user_status}
                    if user_status.user_email === user_email || user_role === 'admin'
                      button.delete_status_button(type="button") X
                  ul.comments-list
                    each comment in user_status.comments
                      li(data-comment-id=`${comment._id}`)
                        img(src=`${comment.profile_pic}`, alt="Avatar de l'utilisateur") 
                        strong #{comment.firstname} : 
                        span #{comment.comment_text}
                        p
                          | <strong>Ma note:</strong>#{comment.rating}
                        if comment.user_email === user_email || isAdmin
                          button.delete_comment_button(type="button") X

                    form(action=`/user_status/${user_status._id}/comment`, method="POST", class="comment_form", data-id=`${user_status._id}`)
                      textarea(name="comment_text", rows="2" cols="30") 
                      .input-group
                        input(name="rating", type="number", min="1", max="5", placeholder="Note (1-5)")
                      button(type="submit") Commenter

          else
            .profile_info#limited_profile
              button(type="button", class="request_button", data-member-id=`${member_id}`, disabled=sentFriendRequests.includes(member_id)) 
                | Envoyer une invitation
  script(src="/js/usr-profile-script.js" data-page="true")
  script(src="/js/friends-script.js" data-page="true")
  script(src="/js/home-script.js" data-page="true")
  script.
    window.user_role = "#{user_role}";
    window.user_email = "#{user_email}";
