include partials/header

body
  include partials/logout
  div#user_profile_visit_div
    .profile_info#friends_list
      h3 Amis :
      each friend in user_friends
        .friend
          img(src=friend.profile_pic width='100')
          p #{friend.friend_name}

    .profile_info#profile_picture_div
      img(src=profile_pic width='200')
      h2 Nom: #{firstname} #{lastname}
      h3 Pseudonyme: #{pseudonym}
      h4 Age: #{age}

      .profile_info#about_me
        h3 À Propos :
        p #{description}

      .profile_info#interests
        h3 Préférences Littéraires :
        p #{literary_preferences}

    // Section pour afficher les statuses des amis
    .profile_info#friend_statuses
      h3 Status des amis :
      each user_status in userStatuses
        .user_status_item(data-id=`${user_status._id}`)
          img(src=`${user_status.profile_pic}`)
          strong.poster_name #{user_status.firstname}
          p #{user_status.user_status}

          // Affichage des commentaires
          each comment in user_status.comments
            .comment
              strong #{comment.firstname} :
              p #{comment.comment_text}

          // Formulaire pour ajouter un commentaire
          form(action=`/comment/${user_status._id}`, method="POST")
            textarea(name="comment_text" placeholder="Ajouter un commentaire...")
            button(type="submit") Poster

  script(src="/js/usr-profile-script.js")
  script(src="/js/friends-script.js")
