include partials/header

body
  include partials/logout
  button#edit_profile_button(type='button') Modifier
  h1#profile_header Profil

  #user_friends_list_section
    h2 Bookies Amis
    ul
      each friend in user_friends
        li
          div.user_friend_list(id=`${friend.member_id}`)
            img(src=friend.profile_pic)
            span #{friend.friend_firstname} #{friend.friend_lastname}
            button#visiting_profile(type='button') Voir le profil
            button.delete_friend_button(type='button' data-friend-member-id=friend.member_id) Supprimer
            button.chat_button(type='button') Chat

    h2 Suggestion de Bookies
    each friend in suggestionFriends
      .potential_friends
        .friends_profile_pic
          img(src=`${friend.profile_pic}`, width='100', height='100')
        h3 #{friend.firstname} #{friend.lastname}
        - const isRequestSent = sentFriendRequests.includes(friend.member_id);
        button(type='button', id=`friend_${friend.member_id}`, class='request_button', disabled=isRequestSent)
          if isRequestSent
            | Demande envoyée
          else
            | Envoyer une invitation

   



  #user_profile_div
    .profile_info#profile_picture_div
      h2 Nom: #{firstname} #{lastname}
      h3 Pseudonyme: #{pseudonym}
      img(src=profile_pic width='200')
      h4 Age: #{age}

    .profile_info#about_me
      h3 À Propos :
      p #{description}

    .profile_info#interests
      h3 Préférences Littéraires :
      p #{literary_preferences}

    #user_statuses_div
    each user_status in userStatuses
      .user_status_item(data-id=`${user_status._id}`)
        img.profile_picture_in_status(src=`${user_status.profile_pic}`)
        strong.poster_name #{user_status.firstname}
        p #{user_status.user_status}

        each comment in user_status.comments
          p
            strong #{comment.firstname} :
            | #{comment.comment_text}

  #edit_profile_form_container
    form(id="edit_profile_form", method="POST", action="/profile_pic/upload", enctype="multipart/form-data")
      ul
        li
          label(for='lastname') Nom
          input(type='text', name='lastname', value=lastname)
        li
          label(for='firstname') Prénom
          input(type='text', name='firstname', value=firstname)
        li
          label(for='age') Âge
          input(type='text', name='age', value=age)
        li
          label(for='pseudonym') Pseudonyme
          input(type='text', name='pseudonym', value=pseudonym)
        li
          label(for='description') Description
          textarea(name='description', rows='4', cols='30') #{description}
        li
          label(for='literary_preferences') Préférences Littéraire
          textarea(name='literary_preferences', rows='4', cols='30') #{literary_preferences}
        li
          label(for='profile_pic') Profile Pic
          input#upload_profile_pic(type='file', name='profile_pic', accept='.jpg,.jpeg,.png')

      button#save_profile_button(type='submit') Sauvegarder
      button#cancel_edit_profile(type='button') Annuler

  .friend_requests_section
    h2 Requêtes en attentes
    ul
      each request in friend_requests
        li
          div(id=`${request.member_id}`, class='friend_request')
            .friend_request_pic
              img(src=request.profile_pic)
            span #{request.friend_firstname} #{request.friend_lastname}
            button.accept_friend_request(type='submit' data-member-id=request.member_id) Accepter
            button.reject_friend_request(type='submit' data-member-id=request.member_id) Ignorer


  script(src="/js/usr-profile-script.js")
  script(src="/js/friends-script.js")
  


  //- #chat_section_wrapper
