extends layout

block content

  h1#profile_header Mon Profil

  .main-container
    .left-section
      #user_friends_list_section
        h2 Bookies Amis
        ul
          each friend, index in user_friends
            li(class="friend-item", style=index >= 3 ? "display: none;" : "")                             
              div.user_friend_list(id=`${friend.member_id}`)
                img(src=friend.profile_pic)
                span #{friend.friend_firstname} #{friend.friend_lastname}
                button#visiting_profile(type='button' data-member-id=friend.member_id) Voir le profil
                button.delete_friend_button(type='button' data-friend-member-id=friend.member_id) Supprimer
                button.chat_button(
                  type='button',
                  data-friend-member-id=friend.member_id,
                  data-user-firstname=friend.friend_firstname,
                  data-user-lastname=friend.friend_lastname
                ) Chat

        if user_friends.length > 3
          button#see_more_friends(type='button') Voir plus


    .center-section
      #user_profile_div
        .profile_info#profile_picture_div
          h2 Nom: #{firstname} #{lastname}
          img(src=profile_pic width='200')
          h3 Pseudonyme: #{pseudonym}
          h4 Âge: #{age}
          button#edit_profile_button(type='button')
            img(src="/images/edit.svg")


        .profile_info#about_me
          h3 À Propos :
          p #{description}

        .profile_info#interests
          h3 Préférences Littéraires :
          p #{literary_preferences}

        #user_statuses_div 
        h2 Mes publications
        ol.user_statuses.user_statuses_profile 
          each user_status in userStatuses
            li.clearfix(data-id=`${user_status._id}`)
              .post
                .header
                  img(src=`${user_status.profile_pic}`, class=(user_status.user_email === user_email ? 'user-status-pic' : ''))
                  strong.poster_name #{user_status.firstname}
                p
                  | <strong>Titre:</strong> #{user_status.book_title}
                p
                  | <strong>Auteur:</strong> #{user_status.book_author}
                p
                  | <strong>Date de parution:</strong> #{user_status.publication_date}
                p
                  | <strong>Note Moyenne:</strong> #{user_status.rating}
                p
                  | <strong>Ma note:</strong> #{user_status.initial_rating}
                p 
                  | <strong>Résumé:</strong> #{user_status.book_summary}
                p 
                  | <strong>Mon avis:</strong> #{user_status.user_status}
                if user_status.user_email === user_email || user_role === 'admin'
                  button.delete_status_button(type="button") X
              ul.comments-list
                each comment in user_status.comments
                  li(data-comment-id=`${comment._id}`)
                    img(src=`${comment.profile_pic}`, alt="Avatar de l'utilisateur", class=(comment.user_email === user_email ? 'user-comment-pic' : ''))
                    strong #{comment.firstname} : 
                    span #{comment.comment_text}
                    p
                      | <strong>Ma note:</strong>#{comment.rating}
                    if comment.user_email === user_email
                      button.delete_comment_button(type="button") X
              form(action=`/user_status/${user_status._id}/comment`, method="POST", class="comment_form", data-id=`${user_status._id}`)
                textarea(name="comment_text", rows="2" cols="30") 
                .input-group
                input(name="rating", type="number", min="1", max="5", placeholder="Note (1-5)")
                button(type="submit") Commenter

      #edit_profile_form_container.hidden
        form(id="edit_profile_form", method="POST", action="/profile_pic/upload", enctype="multipart/form-data")
          ul
            li
              label(for='lastname') Nom
              input(type='text', name='lastname', value=lastname)
            li
              label(for='firstname') Prénom
              input(type='text', name='firstname', value=firstname)
            li
              label(for='age') Âge
              input(type='text', name='age', value=age)
            li
              label(for='pseudonym') Pseudonyme
              input(type='text', name='pseudonym', value=pseudonym)
            li
              label(for='description') Description
              textarea(name='description', rows='4', cols='30') #{description}
            li
              label(for='literary_preferences') Préférences Littéraire
              textarea(name='literary_preferences', rows='4', cols='30') #{literary_preferences}
            li
              label(for='profile_pic') Profile Pic
              input#upload_profile_pic(type='file', name='profile_pic', accept='.jpg,.jpeg,.png')

          button#save_profile_button(type='submit') Sauvegarder
          button#cancel_edit_profile(type='button') Annuler

    .right-section
      if friend_requests.length > 0
        .friend_requests_section
          h2 Requêtes reçus
          ul
            each request in friend_requests
              li
                div(id=`${request.member_id}`, class='friend_request')
                  .friend_request_pic
                    img(src=request.profile_pic)
                  p #{request.friend_firstname} #{request.friend_lastname}
                  button.accept_friend_request(type='submit' data-member-id=request.member_id) Accepter
                  button.reject_friend_request(type='submit' data-member-id=request.member_id) Ignorer
      #suggestions_section
        h2 Suggestion de Bookies
        each friend in suggestionFriends
          .potential_friend
            .friends_profile_pic
              img(src=`${friend.profile_pic}`, width='100', height='100')
            h3 #{friend.firstname} #{friend.lastname}
            - const isRequestSent = sentFriendRequests.includes(friend.member_id);
            button(type='button', id=`friend_${friend.member_id}`, class='request_button', disabled=isRequestSent)
              if isRequestSent
                | Demande envoyée
              else
                | Envoyer une invitation



  #chat_section_wrapper

  input#receiverId(type='hidden', value='') 
  input#senderId(type='hidden', value=member_id)
  input#senderName(type='hidden', value=firstname)
  input#senderProfilePic(type='hidden', value=profile_pic)

  script(src="/js/usr-profile-script.js?v=1.0" data-page="true")
  script(src="/js/chat-script.js" data-page="true")
  script(src="/js/friends-script.js" data-page="true")
  script(src="/js/home-script.js" data-page="true")
  script(src="/socket.io/socket.io.js" data-page="true")
  script.
    window.user_role = "#{user_role}";
    window.user_email = "#{user_email}";
  
